body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
}

.product-gallery img {
    width: 400px;
    height: auto;
    border: 1px solid #ddd;
    padding: 5px;
    cursor: pointer; /* Makes items clickable */
}

#about, #contact {
    margin-top: 2rem;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
